{% extends "base.html.twig" %}

{% block title %}Error{% endblock %}

{% block content %}

<p>An error occured. Please try again later.</p>
<br/>
<p class="muted">{{ exception.message }}</p>
<br/>

{% endblock %}
