{% extends "base.html.twig" %}

{% block title %}Error{% endblock %}

{% block content %}

<h2>😢</h2>
<p>There was an error connecting to the Transport API. Please try again later.</p>
<br/>
<p class="text-muted">
    {{ response.statusCode }} {{ response.reasonPhrase }}<br/>
    {{ response.body }}
</p>
<br/>

{% endblock %}
